---
name: CI
on:
  pull_request:
    branches:
    - master
    paths:
    - '**.go'
    - 'go.mod'
    - 'go.sum'
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        #os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Prepare OS
        id: podman_install
        run: |
          sudo apt update -qqy
          sudo apt install -qqy podman
          systemctl --user start podman
          echo "DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock" >> "$GITHUB_ENV"

      - name: Prepare Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.25.4'
          check-latest: false

      - name: Checkout codebase
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Perform lint checks
        run: |
          go install golang.org/x/lint/golint@v0.0.0-20241112194109-818c5a804067
          make lint

      - name: Perform format checks
        run: make format

      - name: Perform vet checks
        run: make vet

      - name: Run test suite
        run: |
          make test
          go generate
...
