---
name: CI
on:
  pull_request:
    branches:
    - master
    paths:
    - '**.go'
    - 'go.mod'
    - 'go.sum'
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        #os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Prepare OS
        id: podman_install
        run: |
          sudo apt update -qqy
          sudo apt install -qqy podman
          systemctl --user start podman
          echo "DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock" >> "$GITHUB_ENV"

      - name: Prepare Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: '1.25.4'
          check-latest: false

      - name: Checkout codebase
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Perform lint checks
        run: |
          go install golang.org/x/lint/golint@v0.0.0-20241112194109-818c5a804067
          make lint

      - name: Perform format checks
        run: make format

      - name: Perform vet checks
        run: make vet

      - name: Run test suite
        run: |
          make test
          go generate
...
